.AccordionTitle{
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}

.AccordionText_show{
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 12px;
  height: auto;
  overflow: hidden;
  max-height: 1000px;
  transition: all .1s cubic-bezier(1, 0, 1, 0);
}

.AccordionText{
  margin-bottom: 0px;
  padding: 0 20px;
  font-size: 12px;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  transition: all .1s cubic-bezier(0, 1, 0, 1);
}

.AccordionItem:first-child{
  border-top: 1px solid #fff;
}

.AccordionItem{
  border-bottom: 1px solid #fff;
}