* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: #fff;
}

body{
    background-color: black;
}

#root {
    display: flex;
    justify-content: center;
}

.App  {
    width: 1360px;
}