.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 90px;
  z-index: -1;
  opacity: .6;
  box-shadow: inset 0px -30px 20px black;

  background-size: cover;
  background-image: url(./headerBG.jpg);
}

.logo{
  max-height: 60px;
  font-weight: 900;
  font-size: 25px;
}

.navigation{
  display: flex;
  align-items: center;
}

.navlink{
  position: relative;

  font-weight: 400;
  font-size: 14px;
  padding: 8px 20px;
  text-transform: uppercase;

  border-right: 1px solid #fff;
}

.navlink:last-child{
  border-right: none;
}

.navlink::after{
  display: block;
  position: absolute;
  content: "";

  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0.3;
  height: 2px;
  width: 40px;
}

.account{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  width: 15%;
  padding: 0 10px;
  border: 2px solid #fff;
  border-radius: 40px;
}

.avatar{
  max-height: 30px;
}

.nickname{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 20px;
}

.more{
  max-height: 15px;
}