.footer{
  max-width: 1360px;
  margin: 5px auto;

  font-size: 14px;
  font-weight: 700;
}

.footerMenu{
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.footerNav{
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerNav button{
  display: block;
  width: 40%;
  margin: 20px;
}

.info{
  display: flex;
  flex-direction: column;
}

.license{
  display: flex;
  justify-content: space-between;
}

.licenseLinks{
  display: flex;
  justify-content: space-between;
}